/* ONLY ALLOWED HEX AND RGB COLOR CODES */

/*Selector links*/
body {
    background-color: rgb(41, 41, 41);
    color: rgb(205, 205, 205);
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    float: left;
    margin-right: 2em;
    max-width: 400px;
}

main{
    clear: left;
}

header{
    clear: left;
}

a:visited {
    color: #ffffff;
}

/*Class links*/
.header {
    color: #ffe4c4
}

.link {
    color: rgb(66, 111, 189);
}

ul.dog {
    list-style-image: url("Kala.html/Images/Dog_emoji.png");
}

/*Navigation Menu*/
#nav_menu {
    padding-bottom: 2em;
    margin: auto;
    width: 33%;
}

#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: #5a5a5a;
    color: #ffffff;
    font-weight: bold;
    border-right: 2px solid #ffffff;
}

#nav_menu ul li a:hover {
    background-color: #878787
}

#nav_menu ul li a.lastitem {
    border-right: none;
}